html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; }

body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 62.5%;
  color: #CBCFD7;
  background: #34383F;
}

a {
  color: #A74650;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

a:hover {
  color: #F14250;
}

.nav {
  border-radius: 10px !important;
  -moz-border-radius: 10px !important;
}

.navbar-brand {
  color: #F14250 !important;
  font-size: 3.0em !important;
  -webkit-text-shadow: 0 1px 1px rgba(116,121,117,1.00);
  -moz-text-shadow: 0 1px 1px rgba(116,121,117,1.00);
  text-shadow: 0 1px 1px rgba(116,121,117,1.00);
}

.nav a {
  color: #F14250 !important;
  font-size: 1.8em !important;
  -webkit-text-shadow: 0 1px 1px rgba(116,121,117,1.00);
  -moz-text-shadow: 0 1px 1px rgba(116,121,117,1.00);
  text-shadow: 0 1px 1px rgba(116,121,117,1.00);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.nav a:hover {
  color: #A74650 !important;
}

.nav li {
  padding-right:5px;
}

.callout {
  font-size: 5.6em;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2em;
  font-family: "futura-pt-condensed", sans-serif;
  color: #CBCFD7;
  width: 100%;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
}

.callout-sub {
  font-size: 2.4em;
  margin: 2em;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.0em;
  font-family: "futura-pt-condensed", sans-serif;
  color: #CBCFD7;
  width: 95%;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
}

h1 {
  border-bottom: 1px solid #C6C1C1;
  font-size: 5.8em;
  margin-bottom: 0.2em;
  line-height: 1.0;
  font-family: "futura-pt-condensed", sans-serif;
  color: #E8E8ED;
  width: 75%;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
}

h2 {
  font-size: 2.6em;
  margin-bottom: 0.2em;
  line-height: 1.0em;
  font-family: "futura-pt-condensed", sans-serif;
  color: #C6C1C1;
  width: 75%;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
}

.container {
  max-width: 980px;
  padding: 0 40px;
  margin: 0 auto;
}

.container .content {
  position: relative;
  padding: 6em 0 0 0;
  margin-bottom: 0;
  min-height: 400px;
}

.footer {
  border-top: 1px solid #C6C1C1;
  margin-top: 1em;
  color: #727272;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  font-size: 2.6em;
}

.footer a {
  color: #C6C1C1;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.footer a:hover {
  color: #727272;
}
